<!DOCTYPE html>
<html lang="{{ current_lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ t["tasks"] }} - MathMind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>{{ t["tasks_list"] }}:</h1>
    <table>
        <thead>
            <tr>
                <th>{{ t.table["number"] }}</th>
                <th>{{ t.table["task"] }}</th>
                <th>{{ t.table["difficulty"] }}</th>
                <th>{{ t.table["topic"] }}</th>
                <th>{{ t.table["date_added"] }}</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td><a href="http://127.0.0.1:5000/problems/task/{{ task.id }}">{{ task.title }}</a></td>
                    <td>{{ task.difficulty_label }}</td>
                    <td>{{ task.topic }}</td>
                    <td>{{ task.created_at }}</td>    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>