{% extends "layout.html" %}

{% block title %}
{{ t.user["register"] }}
{% endblock %}

{% block body %}
<div class="auth-page centered-box">
    <p class="mb-3" align="center">
        {{ t.user_message["register"] }}
    </p>
    <div class="auth-box">
    <form method="post" class="auth-form">
        <input type="text" name="username"
               class="form-control mb-2"
               placeholder="{{ t.user["login"] }}" autocomplete="off">

        <input type="password" name="password"
               class="form-control mb-3"
               placeholder="{{ t.user["password"] }}" autocomplete="off">

        <button type="submit" class="btn btn-success">
            {{ t.user["register"] }}
        </button>
    </form>
    </div>

</div>
{% endblock %}